.bg-primary {
    background-color: #ecf5ff!important;
}
.btn-primary {
    color: #fff;
    background-color: #2c3e51;
    border-color: #2c3e51;
}
.icon-box .icon {
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #007bff;
    transition: all 0.3s ease-in-out;
}
.icon-box {
    background: #fff;
    background-size: cover;
    padding: 0 0 30px 0;
}
.icon-box .icon i {
  color: #007bff;
  font-size: 24px;
}

.icon-box:hover .icon {
  background: #007bff;
}

.icon-box:hover .icon i {
  color: #fff;
}

.icon-box .title {
  margin-left: 80px;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
}

.icon-box .title a {
  color: #283d50;
}

.icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #1abc9c;
    background: transparent;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #1abc9c;
    background: transparent;
  }

  .servBox{
	background: #fff;
	box-shadow: 0px 5px 5px rgba(0,0,0,.2);
	border-radius: 10px;
	margin-bottom: 5px;

  }

  .servBox .fa {
	color: #007bff;
  }

  #contactus{
  	background: #2c3e51;
	color:#fff;
  }
   #contactus h5{
  	color: #B7D8F1;
  }
  .border-top {
    border-top:1px solid #828282 !important;
}
.footext{
	font-size: .8rem;
}
.footext1{
	font-size: .8rem;
	color: #B7D8F1;
}
.foolinks ul{
	list-style-type:none;
	padding: 0;
}
.fooTitle{
	color: #B7D8F1;
	font-size: 1.15rem;
	font-weight: bold;
	border-bottom:1px solid #B7D8F1;
}
.foolinks ul li a{
	color: #fff;
	font-size: 0.9rem;
}
.foolinks ul li a:hover{
	color: #1abc9c;
}

.lead {
    font-size: 1rem;
    font-weight: 300;
}
#mainNav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}
#mainNav .bg-primary{
	background: #3696d4 !important;
}
#mainNav .bg-primary i{
	color: #fff;
}

#tabs{
	background: transparent;
}
#tabs h6.section-title{
    color: #eee;
}
#tabs .nav-tabs .nav-link {
	color: #003069;
    background-color: #d6d6d6 ;
    border: 0px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;

}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff!important;
    background-color: #3696d4!important;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 0px solid !important;
    font-weight: bold;
}

#nav-tabContent{
	background: #fff;
}
.servicestbl thead tr th{
	background: #2c3e51;
	color: #fff;
}
.servicestbl tbody tr td a.viewDetlink{color:#2587bd; font-weight:bold; text-decoration:none;}
.servicestbl tbody tr td a.viewDetlink:hover,.servicestbl tbody tr td a.viewDetlink:focus{cursor:pointer;color:#1d6992; font-weight:bold; text-decoration:underline;}
.divHeading{
	color:#1abc9c;
}
.servicestbl th, .servicestbl td {

    padding: 0.5rem;
    font-size:.9rem;

}
.servBox a,.servBox a:hover,.servBox a:active,.servBox a:focus{ color:#212529}

.acc_con_div input[type="radio"] {
  -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
  -moz-appearance: checkbox;    /* Firefox */
  -ms-appearance: checkbox;     /* not currently supported */
}

#viewSummons .modal-dialog {
    max-width: 716px!important;
}
/*#viewSummons .modal-content {
    height: 900px!important;
}*/

#validateError .modal-dialog {
    max-width: 600px!important;
}

#servicesForm{
padding-top:112px !important;
}
.mainContentTitle{
background:#2c3e50;
color:#fff;
}
.mainmenu a{
background:#e1e1e1;
color:#555;
}
.mainmenu a:hover,.mainmenu a:focus{
background:#0D529C;
color:#fff;
text-decoration:none;
}

.mainmenu a.mainMenuActive{
background:#0D529C;
color:#fff;
text-decoration:none;
}
.mainmenu a:hover .fa,.mainmenu a:focus .fa{
color:#fff;
}
.mainmenu a .fa{
font-size:2rem;
color:#3690ef;
}

a.mainMenuActive .fa{
color:#fff;
}

#fpolice_st_code{
width:250px;
}
.secureImg{
border:1px solid #ccc;margin-right:10px;
}
.capLabel{
justify-content: right !important;
}

@media screen and (max-width: 767px) 
{
.mobile-space-top {
margin-top:44px;
}
#actionbtn h5{
font-size: 1rem;text-align: center;
}
.servBox .p-4{
padding: .5rem!important;
}
.servicestbl,.acc_con_div{
width: 100%!important;
}
button {
margin-top:5px;
}
#viewSummons .modal-dialog {
    max-width: 100%!important;
}
.mainmenu a .fa{
font-size:1rem;
color:#3690ef;
}
.mainmenu {
padding:0;
}
#nav-tab{
margin-bottom:10px;
}
#fpolice_st_code,#ffir_no,#ffir_year{
width:100% !important;
}
#nav-sbPoliceStation label{
width:100%;
margin:0 5px; 
}
.btn_div_pc{
width:100%;
}
}
.off_tbl thead tr th{
background:#2587bd;
}

.faded{
    display:none;
    top: 30%;
    left: 45%;
    position:absolute;
    background:#555 url('../images/loading.gif') no-repeat center center;
    height:90px;
    color:#fff;
    padding:5px;
    font-size:16px;
    width:90px;
    border:1px solid #555;
    border-radius:5px;
    z-index: 999;
}


.numberPlate{
    height: 40px;
    box-sizing:content-box;
    background:#fff; 
    border-radius:5px;
    text-align:center;
    border:1px solid #000;
    box-shadow:0px 1px 1px rgba(0,0,0,0.4);
    width: 100px;
    margin: 0 auto;
    clear:both;
}
.numPlateleft{
    width: 20px;
    font-size: 10px;
    float: left;
    background: #00439e;
    color: #fff;
    line-height: 4;
    border-radius: 5px 0 0 5px;
    display: block;
    height: 40px;
}
.numPlateright{
    width:80px;
    float:right;
    padding:5px 0;
}
.vehicleNoPart1{
    font-size:14px;
    line-height: 1;
    letter-spacing: 2px;
}
.vehicleNoPart2{
    font-size:18px;
    display:block;
    line-height: 1;
    font-weight:bold;
    letter-spacing: 3px;
}













.numberPlate2{
    height: 20px;
    box-sizing:content-box;
    background:#fff; 
    border-radius:5px;
    text-align:center;
    border:1px solid #000;
    box-shadow:0px 1px 1px rgba(0,0,0,0.4);
    display:inline-block;
    clear:both;
}
.numPlateleft2{
    width: 20px;
    font-size: 10px;
    float: left;
    background: #00439e;
    color: #fff;
    line-height: 2;
    border-radius: 5px 0 0 5px;
    display:inline-block;
    height: 20px;
}
.numPlateright2{
    display:inline-block;
    padding:5px 0;
}
.vehicleNoPart12{
    font-size:14px;
    line-height: 1.5;
    letter-spacing: 2px;
	display:inline-block;
	font-weight:800;
}
.vehicleNoPart22{
    font-size:14px;
    display:inline-block;
    line-height: 1.5;
	float:right;
    letter-spacing: 3px;
}
.dropdown-toggle::after{float:right; margin-top:10px; }

.dropdown-menu {
    padding: 0;
}
.dropdown-item {
    border-bottom: 1px solid #b5b5b5;
}
.dropdown-item:hover, .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #2587bd;
}
#dropdownMenuButton{
width: 100%;
text-align: left;
white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

border: 0.125rem solid #ced4da;
background: #fff;
color: #555;
}

.di1{
width: 100%; white-space: normal;background:#337ab7;
}
.di2{
width: 100%; white-space: normal;background:#d9534f;
}
.di3{
width: 100%; white-space: normal;background:#5cb85c;
}
.di4{
width: 100%; white-space: normal;background:#eea236;
}
.di5{
width: 100%; white-space: normal;background:#5bc0de;
}

.di1:hover, .di1:active, .di1:focus{
width: 100%; white-space: normal;background:#2d6da3;
}
.di2:hover, .di2:active, .di2:focus{
width: 100%; white-space: normal;background:#d43f3a;
}
.di3:hover, .di3:active, .di3:focus{
width: 100%; white-space: normal;background:#4cae4c;
}
.di4:hover, .di4:active, .di4:focus{
width: 100%; white-space: normal;background:#ec971e;
}
.di5:hover, .di5:active, .di5:focus{
width: 100%; white-space: normal;background:#46b8da;
}
.page-item.active .page-link{
background-color:#3690ef !important;
border-color:#3690ef !important;
}
.page-link{
color:#555;;
}
.modal-body {
   padding: 0rem 0rem;
}
.loader {
 
  /*text-align: center;
  margin: 15px auto 35px auto;
 
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
 -webkit-animation: spin 2s linear infinite; /* Safari */
  /*animation: spin 1s linear infinite !important;*/
  
  /*top: 30%;
  left: 45%;
  position: absolute;*/
  margin: 15px auto 35px auto;
  background: #fff url('../img/loading.gif') no-repeat center center;
  height: 30px;
  color: #fff;
  padding: 5px;
  font-size: 16px;
  width: 30px;
  border-radius: 5px;
  z-index: 999;
  
}

.topheader ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.topheader ul li{
	float:left;
    border-right: 0.1rem solid #6b6f73 !important;
	}
.topheader ul li:hover{
	background:#35475a;
	}
.topheader ul li a {
    font-size: 85%;
    color: #FFF;
    line-height: none;
    font-weight: 400;
}
.topheader ul li a:hover{
    text-decoration:none !important;

}
#ack_div{
		background: #fff;
		border: 2px solid #ccc;
		height: auto;
		max-width: 600px;
		padding: 10px;
		color:#222;
		box-shadow: 0px 3px 6px rgba(0,0,0,.4);
		margin:0 auto;

	}
	.ack_heading{
	text-align:center;
	font-size:16px;
	margin:5px;
	font-weight:bold;
	}

	.court_heading{
	text-align:center;
	font-size:14px;
	margin-bottom:10px;
	padding-bottom:10px;
	}
	.ack_tbl tr td{
		padding:5px 10px;
		border-color:#ccc;
	}

		.ack_tbl tr td:nth-child(1)
	{
		font-weight:bold;
	}
	.ack_tbl{
		margin-bottom:10px;
		border:1px solid #ccc;
		border-collapse:collapse;
		font-size: 1rem;
	}
.main_div_tq{
	margin:5px;
	padding:0;
}
.ts{
	text-align:center;
	margin-top:5px;
}
.tq_class {
    font-style: italic;
    font-size: 1em;
}
.ack_img{
	height:50px;	
}
@media print {
  body * {
    visibility: hidden;
  }
  #ack_div * {
    visibility: visible;
  }
  #ack_div {
    position: absolute;
    top: 0;
	margin:0 auto;
	border: 1px solid #000;
	width:100%;
  }
}
@page 
    {
        margin: 20mm;
    }
	.header{
	background:#2c3e50;
	}
	.title_div a {color:#ffc736;font-size:1.5rem;font-weight:bold;}
	.sub_title_div {color:#fff;font-size:1.1rem;}
	
@media screen and (max-width: 767px) 
{
.header img {display:none;}
}
  .carousel-inner img {
      width: 100%;
      height: auto;
  }






.carousel-item {
	transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform 0.5s ease, -webkit-transform 0.5s ease;
	-webkit-backface-visibility: visible;
	        backface-visibility: visible;
}
